{
  "openapi": "3.0.0",
  "info": {
    "title": "Rhinestone Orchestrator API",
    "version": "2026-09.caucasus"
  },
  "servers": [
    {
      "url": "https://v1.orchestrator.rhinestone.dev"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Project API key."
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Integrator-issued access token (JWT authentication mode)."
      }
    }
  },
  "paths": {
    "/chains": {
      "get": {
        "operationId": "listChains",
        "parameters": [
          {
            "name": "x-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2026-09.caucasus"
              ]
            },
            "description": "API version. Required; pinned to this document."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the chain",
                        "example": "Arbitrum One"
                      },
                      "testnet": {
                        "type": "boolean"
                      },
                      "supportedTokens": {
                        "oneOf": [
                          {
                            "type": "string",
                            "enum": [
                              "all"
                            ]
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "symbol": {
                                  "type": "string"
                                },
                                "address": {
                                  "type": "string",
                                  "minLength": 1,
                                  "description": "Token contract address (format depends on the chain)"
                                },
                                "decimals": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "symbol",
                                "address",
                                "decimals"
                              ]
                            }
                          }
                        ]
                      },
                      "wrappedNativeToken": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string",
                            "minLength": 1,
                            "description": "Token contract address (format depends on the chain)"
                          },
                          "decimals": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "symbol",
                          "address",
                          "decimals"
                        ],
                        "description": "The wrapped-native token (e.g. WETH) for the chain. Lets clients resolve the wrapped-native address without bundling a token registry."
                      },
                      "nativeToken": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string",
                            "minLength": 1,
                            "description": "Token contract address (format depends on the chain)"
                          },
                          "decimals": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "symbol",
                          "address",
                          "decimals"
                        ],
                        "description": "The chain's gas asset. Lets a client name a native-value transfer without assuming ETH — a wallet on a non-ETH chain would otherwise label AVAX or BNB as ETH in every review and receipt."
                      },
                      "explorer": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "example": "https://basescan.org"
                          },
                          "addressPath": {
                            "type": "string",
                            "example": "/address/"
                          },
                          "txPath": {
                            "type": "string",
                            "example": "/tx/"
                          }
                        },
                        "required": [
                          "url",
                          "addressPath",
                          "txPath"
                        ],
                        "nullable": true,
                        "description": "Block explorer, or null for a chain that has none. Lets a client link a transaction on a chain it was never compiled against, instead of bundling a per-chain URL table."
                      }
                    },
                    "required": [
                      "name",
                      "testnet",
                      "supportedTokens",
                      "wrappedNativeToken",
                      "nativeToken",
                      "explorer"
                    ]
                  },
                  "description": "Supported chains and tokens, keyed by CAIP-2 chain id"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Error message",
                            "example": "Invalid input"
                          },
                          "context": {
                            "description": "Additional error context"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace ID for request correlation. Returned in x-trace-id for all responses and in legacy alps error bodies for compatibility.",
                      "example": "eb0ba4657f36364b33ec565c15f98368"
                    }
                  },
                  "required": [
                    "errors",
                    "traceId"
                  ]
                }
              }
            }
          }
        },
        "security": [],
        "summary": "Supported chains and tokens",
        "description": "Get supported chains and tokens with additional metadata",
        "tags": [
          "Utilities"
        ]
      }
    },
    "/liquidity": {
      "get": {
        "operationId": "listLiquidity",
        "parameters": [
          {
            "name": "x-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2026-09.caucasus"
              ]
            },
            "description": "API version. Required; pinned to this document."
          },
          {
            "name": "sourceChainId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^eip155:[0-9]{1,32}$",
              "description": "Source chain ID (CAIP-2)",
              "example": "eip155:1"
            },
            "description": "Source chain ID (CAIP-2)"
          },
          {
            "name": "sourceToken",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Source token address",
              "example": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48"
            },
            "description": "Source token address"
          },
          {
            "name": "destinationChainId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$",
              "description": "Destination chain ID (CAIP-2)",
              "example": "eip155:8453"
            },
            "description": "Destination chain ID (CAIP-2)"
          },
          {
            "name": "destinationToken",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Destination token address (EVM 0x or non-EVM base58)",
              "example": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
            },
            "description": "Destination token address (EVM 0x or non-EVM base58)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "symbol": {
                      "type": "string",
                      "description": "Destination token symbol",
                      "example": "USDC"
                    },
                    "decimals": {
                      "type": "number",
                      "description": "Destination token decimals",
                      "example": 6
                    },
                    "unlimited": {
                      "type": "boolean",
                      "description": "True when an uncapped settlement layer (e.g. OFT) supports this route",
                      "example": false
                    },
                    "maxAmount": {
                      "type": "string",
                      "nullable": true,
                      "description": "Largest known fillable amount for this token by a single relayer instance. Exact for relayer-market settlement layers (ACROSS, ECO); bridge-backed layers (Relay, NEAR, Rhino) return a conservative probed lower bound. Null when unlimited.",
                      "example": "200000000000"
                    }
                  },
                  "required": [
                    "symbol",
                    "decimals",
                    "unlimited",
                    "maxAmount"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Error message",
                            "example": "Invalid input"
                          },
                          "context": {
                            "description": "Additional error context"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace ID for request correlation. Returned in x-trace-id for all responses and in legacy alps error bodies for compatibility.",
                      "example": "eb0ba4657f36364b33ec565c15f98368"
                    }
                  },
                  "required": [
                    "errors",
                    "traceId"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "API key scope denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Error message",
                            "example": "Invalid input"
                          },
                          "context": {
                            "description": "Additional error context"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace ID for request correlation. Returned in x-trace-id for all responses and in legacy alps error bodies for compatibility.",
                      "example": "eb0ba4657f36364b33ec565c15f98368"
                    }
                  },
                  "required": [
                    "errors",
                    "traceId"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Error message",
                            "example": "Invalid input"
                          },
                          "context": {
                            "description": "Additional error context"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace ID for request correlation. Returned in x-trace-id for all responses and in legacy alps error bodies for compatibility.",
                      "example": "eb0ba4657f36364b33ec565c15f98368"
                    }
                  },
                  "required": [
                    "errors",
                    "traceId"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Route liquidity limit",
        "description": "Returns the largest known fillable amount for a single deposit on the given source→destination route. Relayer-market layers return exact capacity; bridge-backed layers return a conservative probed lower bound.",
        "tags": [
          "Utilities"
        ]
      }
    },
    "/intents/{id}": {
      "get": {
        "operationId": "getIntent",
        "parameters": [
          {
            "name": "x-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2026-09.caucasus"
              ]
            },
            "description": "API version. Required; pinned to this document."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "description": "Unique identifier of the intent operation",
              "example": "77119256265773742309930654065362693497375232736834856992878277299604179621015"
            },
            "description": "Unique identifier of the intent operation"
          },
          {
            "name": "full",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include intent operation details",
              "example": "true"
            },
            "description": "Whether to include intent operation details"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "intentId": {
                      "type": "string",
                      "description": "Intent id — the one passed to `GET /intents/:id`",
                      "example": "12345678901234567890"
                    },
                    "purpose": {
                      "type": "string",
                      "enum": [
                        "execution"
                      ],
                      "description": "What the intent was for. `execution` for every intent that exists today; a discriminator from the start so the deployment lifecycle can join without a second breaking change.",
                      "example": "execution"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "PENDING",
                        "COMPLETED",
                        "FAILED"
                      ],
                      "description": "Overall intent status: PENDING, COMPLETED, or FAILED",
                      "example": "COMPLETED"
                    },
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "vm": {
                            "type": "string",
                            "enum": [
                              "evm",
                              "svm",
                              "tvm",
                              "stellar",
                              "hypercore"
                            ],
                            "description": "Public native execution environment of the chain. A HyperCore delivery venue is `hypercore`, never the HyperEVM chain it settles on.",
                            "example": "evm"
                          },
                          "chainId": {
                            "type": "string",
                            "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$",
                            "description": "CAIP-2 chain id this account is resolved on",
                            "example": "eip155:8453"
                          },
                          "account": {
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "description": "Account address",
                                    "example": "0x579d5631f76126991c00fb8fe5467fa9d49e5f6a"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "eoa",
                                      "erc7579"
                                    ],
                                    "description": "Whether the account is an EOA or an ERC-7579 smart account",
                                    "example": "erc7579"
                                  },
                                  "deployed": {
                                    "type": "boolean",
                                    "description": "Whether the account is deployed on this chain. Absent when planning read no account state for the chain — never defaulted, which would claim an undeployed account is deployed.",
                                    "example": true
                                  },
                                  "implementation": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string",
                                        "enum": [
                                          "Safe",
                                          "Kernel",
                                          "Nexus"
                                        ],
                                        "description": "ERC-7579 account implementation",
                                        "example": "Nexus"
                                      },
                                      "version": {
                                        "type": "string",
                                        "description": "Raw trailing version token returned by ERC-7579 `accountId()`, when valid; preserved without normalization",
                                        "example": "v1.0.0"
                                      }
                                    },
                                    "required": [
                                      "name"
                                    ],
                                    "description": "ERC-7579 implementation planning read on this chain. Absent for an EOA, and for a smart account whose implementation was not resolved."
                                  },
                                  "delegation": {
                                    "type": "object",
                                    "properties": {
                                      "contract": {
                                        "type": "string",
                                        "description": "Delegate contract this intent installs",
                                        "example": "0x579d5631f76126991c00fb8fe5467fa9d49e5f6a"
                                      }
                                    },
                                    "required": [
                                      "contract"
                                    ],
                                    "description": "The EIP-7702 delegate this intent INSTALLS on this chain. Present only where the delegate is not yet in place — a delegation already in force is not reported here."
                                  }
                                },
                                "required": [
                                  "address",
                                  "type"
                                ],
                                "description": "An EVM account resolved on one chain"
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "wallet": {
                                    "type": "string",
                                    "description": "Asset-holding Swig wallet the intent spends from",
                                    "example": "9WzDXwBbmkg8ZTbNMqUxvQRAyrZzDsGYdLVL9zYtAWWM"
                                  },
                                  "swigAccount": {
                                    "type": "string",
                                    "description": "Swig state account holding the wallet authority configuration. Distinct from `wallet`, which is where the assets live.",
                                    "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                                  },
                                  "authority": {
                                    "discriminator": {
                                      "propertyName": "kind"
                                    },
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "kind": {
                                            "type": "string",
                                            "enum": [
                                              "secp256k1"
                                            ]
                                          },
                                          "address": {
                                            "type": "string",
                                            "description": "Authority the submitted signature must recover to",
                                            "example": "0x579d5631f76126991c00fb8fe5467fa9d49e5f6a"
                                          }
                                        },
                                        "required": [
                                          "kind",
                                          "address"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "kind": {
                                            "type": "string",
                                            "enum": [
                                              "secp256r1"
                                            ]
                                          },
                                          "publicKey": {
                                            "type": "string",
                                            "pattern": "^0x0[23][0-9a-fA-F]{64}$",
                                            "description": "SEC1-compressed P-256 public key: 33 bytes as 0x-prefixed hex, leading byte 02 or 03",
                                            "example": "0x036b17d1f2e12c4247f8bce6e563a440f277037d812deb33a0f4a13945d898c296"
                                          }
                                        },
                                        "required": [
                                          "kind",
                                          "publicKey"
                                        ]
                                      }
                                    ],
                                    "description": "Authority the submitted signature was verified against when the intent was accepted, as recorded. Absent on an intent record written before it was recorded; never inferred from the account or from current chain state."
                                  }
                                },
                                "required": [
                                  "wallet",
                                  "swigAccount"
                                ],
                                "description": "A Solana Swig account resolved on one chain"
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "minLength": 1,
                                    "description": "Address funds are delivered to, in the destination chain's own format",
                                    "example": "0x579d5631f76126991c00fb8fe5467fa9d49e5f6a"
                                  }
                                },
                                "required": [
                                  "address"
                                ],
                                "description": "A bare payee with no resolved account behind it"
                              }
                            ],
                            "description": "The account this block acts on, resolved for its VM: an EVM account, a Solana Swig, or a bare payee."
                          }
                        },
                        "required": [
                          "vm",
                          "chainId",
                          "account"
                        ],
                        "description": "One chain the intent acts on, with the account it acts through there"
                      },
                      "description": "The accounts this intent acts through, one entry per chain it acts on — each origin chain, then the destination. Projected from the resolved plan, so it names an account exactly as the quote did. Absent when the record carries no account context; a HyperCore delivery carries its origins only where the record cannot supply the venue it addressed."
                    },
                    "operations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chainId": {
                            "oneOf": [
                              {
                                "type": "string",
                                "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$"
                              },
                              {
                                "type": "number"
                              }
                            ],
                            "description": "CAIP-2 chain id; a number only for a chain no longer supported",
                            "example": "eip155:10"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "CLAIM",
                                        "FILL",
                                        "BRIDGE_FILL"
                                      ],
                                      "description": "Operation type: CLAIM, FILL, or BRIDGE_FILL",
                                      "example": "FILL"
                                    },
                                    "status": {
                                      "type": "string",
                                      "enum": [
                                        "PENDING",
                                        "COMPLETED",
                                        "FAILED"
                                      ],
                                      "description": "Operation status",
                                      "example": "COMPLETED"
                                    },
                                    "transaction": {
                                      "discriminator": {
                                        "propertyName": "vm"
                                      },
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "vm": {
                                              "type": "string",
                                              "enum": [
                                                "evm"
                                              ]
                                            },
                                            "chainId": {
                                              "type": "string",
                                              "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$",
                                              "description": "CAIP-2 chain id the transaction is on",
                                              "example": "eip155:8453"
                                            },
                                            "txHash": {
                                              "type": "string",
                                              "minLength": 1,
                                              "description": "Transaction hash",
                                              "example": "0xc1674f4671accbceec3f22c2c9cfa4f7aead7183f48df90c239e0d85d6c31e21"
                                            }
                                          },
                                          "required": [
                                            "vm",
                                            "chainId",
                                            "txHash"
                                          ],
                                          "description": "An EVM transaction"
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "vm": {
                                              "type": "string",
                                              "enum": [
                                                "svm"
                                              ]
                                            },
                                            "chainId": {
                                              "type": "string",
                                              "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$",
                                              "description": "CAIP-2 chain id the transaction is on",
                                              "example": "eip155:8453"
                                            },
                                            "signature": {
                                              "type": "string",
                                              "minLength": 1,
                                              "description": "Transaction signature, base58 (64 bytes encoded)"
                                            }
                                          },
                                          "required": [
                                            "vm",
                                            "chainId",
                                            "signature"
                                          ],
                                          "description": "A Solana transaction"
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "vm": {
                                              "type": "string",
                                              "enum": [
                                                "tvm"
                                              ]
                                            },
                                            "chainId": {
                                              "type": "string",
                                              "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$",
                                              "description": "CAIP-2 chain id the transaction is on",
                                              "example": "eip155:8453"
                                            },
                                            "txId": {
                                              "type": "string",
                                              "minLength": 1,
                                              "description": "Transaction id, hex without the 0x prefix"
                                            }
                                          },
                                          "required": [
                                            "vm",
                                            "chainId",
                                            "txId"
                                          ],
                                          "description": "A Tron transaction"
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "vm": {
                                              "type": "string",
                                              "enum": [
                                                "stellar"
                                              ]
                                            },
                                            "chainId": {
                                              "type": "string",
                                              "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$",
                                              "description": "CAIP-2 chain id the transaction is on",
                                              "example": "eip155:8453"
                                            },
                                            "txHash": {
                                              "type": "string",
                                              "minLength": 1,
                                              "description": "Transaction hash, hex"
                                            }
                                          },
                                          "required": [
                                            "vm",
                                            "chainId",
                                            "txHash"
                                          ],
                                          "description": "A Stellar transaction"
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "vm": {
                                              "type": "string",
                                              "enum": [
                                                "unknown"
                                              ]
                                            },
                                            "chainId": {
                                              "type": "number",
                                              "description": "Numeric chain id, as the record stored it",
                                              "example": 1337
                                            },
                                            "id": {
                                              "type": "string",
                                              "minLength": 1,
                                              "description": "The stored identifier, verbatim"
                                            }
                                          },
                                          "required": [
                                            "vm",
                                            "chainId",
                                            "id"
                                          ],
                                          "description": "A transaction on a chain no chain in force carries, so no VM can be derived for it. The identifier is served as stored rather than dropped or dressed up as an EVM hash."
                                        }
                                      ],
                                      "description": "The transaction that carried this operation. Absent until one is known — never fabricated to look confirmed."
                                    },
                                    "timestamp": {
                                      "type": "number",
                                      "description": "Block timestamp in unix seconds (present once landed)",
                                      "example": 1633493192
                                    },
                                    "failureReason": {
                                      "type": "string",
                                      "description": "Why the operation failed (present only when FAILED)",
                                      "example": "BRIDGE_TIMEOUT"
                                    },
                                    "debitsAccount": {
                                      "type": "boolean",
                                      "enum": [
                                        true
                                      ],
                                      "description": "This operation's transaction spends the account's own tokens or runs caller-supplied Solana instructions that may do so. Absent means neither applies (a destination fill, or a tokenless intent). Read it together with the operation status: a FAILED intent none of whose debiting operations reached COMPLETED never took the account's funds.",
                                      "example": true
                                    },
                                    "allocation": {
                                      "type": "object",
                                      "properties": {
                                        "plannedGasMicroUsd": {
                                          "type": "string",
                                          "pattern": "^\\d+$",
                                          "description": "Sponsor-covered gas planned for this operation (micro-USD)",
                                          "example": "100"
                                        },
                                        "fixedCompensationMicroUsd": {
                                          "type": "string",
                                          "pattern": "^\\d+$",
                                          "description": "Fixed non-gas compensation (micro-USD); nonzero only on FILL allocations",
                                          "example": "0"
                                        },
                                        "executedGasMicroUsd": {
                                          "type": "string",
                                          "pattern": "^\\d+$",
                                          "description": "Receipt-derived actual gas (micro-USD); null means the planned fallback applies",
                                          "example": "80",
                                          "nullable": true
                                        },
                                        "payableMicroUsd": {
                                          "type": "string",
                                          "pattern": "^\\d+$",
                                          "description": "fixedCompensation + (executedGas ?? plannedGas), in micro-USD",
                                          "example": "80"
                                        },
                                        "counterparty": {
                                          "type": "string",
                                          "nullable": true,
                                          "description": "Canonical earner, stamped from the receipt sender this allocation reconciled to, in the chain's own address format; null until earned"
                                        },
                                        "nativeTokenPriceUsd": {
                                          "type": "string",
                                          "nullable": true,
                                          "description": "Pinned native-token USD price the gas micro-USD was valued at, as a decimal string; null when no price snapshot exists",
                                          "example": "2000"
                                        },
                                        "receipt": {
                                          "discriminator": {
                                            "propertyName": "vm"
                                          },
                                          "oneOf": [
                                            {
                                              "type": "object",
                                              "properties": {
                                                "vm": {
                                                  "type": "string",
                                                  "enum": [
                                                    "evm"
                                                  ]
                                                },
                                                "blockHash": {
                                                  "type": "string",
                                                  "nullable": true,
                                                  "description": "Block hash"
                                                },
                                                "blockNumber": {
                                                  "type": "string",
                                                  "description": "Block number"
                                                },
                                                "gasUsed": {
                                                  "type": "string",
                                                  "nullable": true,
                                                  "description": "Gas used"
                                                },
                                                "effectiveGasPriceWei": {
                                                  "type": "string",
                                                  "nullable": true,
                                                  "description": "Effective gas price (wei)"
                                                },
                                                "l1FeeWei": {
                                                  "type": "string",
                                                  "nullable": true,
                                                  "description": "L1 fee (wei), OP-stack chains only"
                                                },
                                                "blobFeeWei": {
                                                  "type": "string",
                                                  "nullable": true,
                                                  "description": "Blob fee (wei)"
                                                }
                                              },
                                              "required": [
                                                "vm",
                                                "blockHash",
                                                "blockNumber",
                                                "gasUsed",
                                                "effectiveGasPriceWei",
                                                "l1FeeWei",
                                                "blobFeeWei"
                                              ]
                                            },
                                            {
                                              "type": "object",
                                              "properties": {
                                                "vm": {
                                                  "type": "string",
                                                  "enum": [
                                                    "svm"
                                                  ]
                                                },
                                                "slot": {
                                                  "type": "string",
                                                  "description": "Slot the transaction was confirmed in",
                                                  "example": "299123456"
                                                }
                                              },
                                              "required": [
                                                "vm",
                                                "slot"
                                              ]
                                            }
                                          ],
                                          "description": "Canonical receipt evidence; the transaction reference and timestamp already sit on the item",
                                          "nullable": true
                                        },
                                        "payment": {
                                          "type": "object",
                                          "properties": {
                                            "kind": {
                                              "type": "string",
                                              "enum": [
                                                "PAYMENT",
                                                "ADJUSTMENT"
                                              ]
                                            },
                                            "effectiveDate": {
                                              "type": "string",
                                              "format": "date-time"
                                            },
                                            "createdAt": {
                                              "type": "string",
                                              "format": "date-time"
                                            }
                                          },
                                          "required": [
                                            "kind",
                                            "effectiveDate",
                                            "createdAt"
                                          ],
                                          "nullable": true,
                                          "description": "Treasury settlement of this allocation; null until settled. Destinations, references, and operator fields are never exposed."
                                        }
                                      },
                                      "required": [
                                        "plannedGasMicroUsd",
                                        "fixedCompensationMicroUsd",
                                        "executedGasMicroUsd",
                                        "payableMicroUsd",
                                        "counterparty",
                                        "nativeTokenPriceUsd",
                                        "receipt",
                                        "payment"
                                      ],
                                      "description": "Present only on operations the CALLER earned: the allocation's stamped counterparty, or — before conversion stamps one — the operation's canonical receipt sender, is one of the caller's registered `scopes.relayer.fillAddresses`. Holding the relayer scope is not sufficient. Amounts are micro-USD."
                                    }
                                  },
                                  "required": [
                                    "type",
                                    "status"
                                  ],
                                  "description": "A single operation on a chain"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "EXECUTION"
                                      ],
                                      "description": "An off-chain execution at the destination, rather than a transaction on a chain.",
                                      "example": "EXECUTION"
                                    },
                                    "status": {
                                      "type": "string",
                                      "enum": [
                                        "PENDING",
                                        "COMPLETED",
                                        "FAILED"
                                      ],
                                      "description": "PENDING while the action is still owed, COMPLETED once accepted, FAILED on every other terminal outcome.",
                                      "example": "COMPLETED"
                                    },
                                    "result": {
                                      "type": "object",
                                      "properties": {
                                        "vm": {
                                          "type": "string",
                                          "enum": [
                                            "hypercore"
                                          ]
                                        },
                                        "outcome": {
                                          "type": "string",
                                          "enum": [
                                            "pending",
                                            "accepted",
                                            "refused",
                                            "error",
                                            "unknown",
                                            "partial"
                                          ],
                                          "description": "`pending` while the action is still owed — the POST runs after the fill transaction commits, so this is normal for a few seconds after delivery. `accepted` means Hyperliquid took it; an order filled for less than asked is accepted, simply for less. `refused` is the exchange declining a well-formed action — an `Ioc` that no longer crossed by the time the bridge delivered is the expected one — and `error` is it never answering before the intent expired.\n\n`unknown` means a delivery attempt got no response at all, so the action MAY have been applied and only its answer lost. `partial` means some orders of one batch were placed and others rejected — an `order` action carries up to 100 and each is matched independently.\n\nEvery non-`accepted` terminal value reports the intent as FAILED, because reporting success on a maybe is the failure this field exists to prevent. Do NOT re-send a `partial` batch as-is: the orders that filled would open a second time. Check the account on Hyperliquid for `partial` and `unknown` alike — it holds the per-order record, and the funds are in its own HyperCore balance whatever happened.",
                                          "example": "accepted"
                                        }
                                      },
                                      "required": [
                                        "vm",
                                        "outcome"
                                      ],
                                      "description": "What the venue did with the intent's actions, in the venue's own terms"
                                    }
                                  },
                                  "required": [
                                    "type",
                                    "status",
                                    "result"
                                  ],
                                  "description": "The intent’s aggregate execution at a venue"
                                }
                              ],
                              "description": "One operation this intent performed: a transaction on a chain, or the aggregate execution at a venue that runs none."
                            },
                            "description": "Operations on this chain"
                          }
                        },
                        "required": [
                          "chainId",
                          "items"
                        ],
                        "description": "Operations on one chain"
                      },
                      "description": "Operations grouped by chain"
                    },
                    "refunds": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "transaction": {
                            "discriminator": {
                              "propertyName": "vm"
                            },
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "vm": {
                                    "type": "string",
                                    "enum": [
                                      "evm"
                                    ]
                                  },
                                  "chainId": {
                                    "type": "string",
                                    "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$",
                                    "description": "CAIP-2 chain id the transaction is on",
                                    "example": "eip155:8453"
                                  },
                                  "txHash": {
                                    "type": "string",
                                    "minLength": 1,
                                    "description": "Transaction hash",
                                    "example": "0xc1674f4671accbceec3f22c2c9cfa4f7aead7183f48df90c239e0d85d6c31e21"
                                  }
                                },
                                "required": [
                                  "vm",
                                  "chainId",
                                  "txHash"
                                ],
                                "description": "An EVM transaction"
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "vm": {
                                    "type": "string",
                                    "enum": [
                                      "svm"
                                    ]
                                  },
                                  "chainId": {
                                    "type": "string",
                                    "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$",
                                    "description": "CAIP-2 chain id the transaction is on",
                                    "example": "eip155:8453"
                                  },
                                  "signature": {
                                    "type": "string",
                                    "minLength": 1,
                                    "description": "Transaction signature, base58 (64 bytes encoded)"
                                  }
                                },
                                "required": [
                                  "vm",
                                  "chainId",
                                  "signature"
                                ],
                                "description": "A Solana transaction"
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "vm": {
                                    "type": "string",
                                    "enum": [
                                      "tvm"
                                    ]
                                  },
                                  "chainId": {
                                    "type": "string",
                                    "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$",
                                    "description": "CAIP-2 chain id the transaction is on",
                                    "example": "eip155:8453"
                                  },
                                  "txId": {
                                    "type": "string",
                                    "minLength": 1,
                                    "description": "Transaction id, hex without the 0x prefix"
                                  }
                                },
                                "required": [
                                  "vm",
                                  "chainId",
                                  "txId"
                                ],
                                "description": "A Tron transaction"
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "vm": {
                                    "type": "string",
                                    "enum": [
                                      "stellar"
                                    ]
                                  },
                                  "chainId": {
                                    "type": "string",
                                    "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$",
                                    "description": "CAIP-2 chain id the transaction is on",
                                    "example": "eip155:8453"
                                  },
                                  "txHash": {
                                    "type": "string",
                                    "minLength": 1,
                                    "description": "Transaction hash, hex"
                                  }
                                },
                                "required": [
                                  "vm",
                                  "chainId",
                                  "txHash"
                                ],
                                "description": "A Stellar transaction"
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "vm": {
                                    "type": "string",
                                    "enum": [
                                      "unknown"
                                    ]
                                  },
                                  "chainId": {
                                    "type": "number",
                                    "description": "Numeric chain id, as the record stored it",
                                    "example": 1337
                                  },
                                  "id": {
                                    "type": "string",
                                    "minLength": 1,
                                    "description": "The stored identifier, verbatim"
                                  }
                                },
                                "required": [
                                  "vm",
                                  "chainId",
                                  "id"
                                ],
                                "description": "A transaction on a chain no chain in force carries, so no VM can be derived for it. The identifier is served as stored rather than dropped or dressed up as an EVM hash."
                              }
                            ],
                            "description": "The transaction that returned the funds to the account"
                          }
                        },
                        "required": [
                          "transaction"
                        ],
                        "description": "A bridge refund returned to the account for this intent"
                      },
                      "description": "Bridge refunds observed for this intent — a settlement layer returned the funds to the account instead of delivering them. Not operations: Rhinestone neither built nor broadcast these transactions, and a refund never makes the intent succeed. Empty means none were observed, which is every delivered intent and also a failed one whose refund we have not (or not yet) seen — so an empty list is not evidence that funds were kept."
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "nonce": {
                          "type": "string",
                          "description": "Intent nonce (hex)",
                          "example": "0x000000000000000000000000000000000000000000000000ab54a98ceb1f0ad2"
                        },
                        "recipient": {
                          "oneOf": [
                            {
                              "type": "object",
                              "properties": {
                                "vm": {
                                  "type": "string",
                                  "enum": [
                                    "evm",
                                    "svm",
                                    "tvm",
                                    "stellar",
                                    "hypercore"
                                  ],
                                  "description": "Public native execution environment of the chain. A HyperCore delivery venue is `hypercore`, never the HyperEVM chain it settles on.",
                                  "example": "evm"
                                },
                                "chainId": {
                                  "type": "string",
                                  "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$"
                                },
                                "address": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              },
                              "required": [
                                "vm",
                                "chainId",
                                "address"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "vm": {
                                  "type": "string",
                                  "enum": [
                                    "unknown"
                                  ]
                                },
                                "chainId": {
                                  "type": "number"
                                },
                                "address": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              },
                              "required": [
                                "vm",
                                "chainId",
                                "address"
                              ]
                            }
                          ],
                          "description": "Absent when the record carries no recipient that can be named on a chain in force. A HyperCore delivery names the venue the caller addressed, not the chain it settled on — and nothing at all where the record cannot supply that venue."
                        },
                        "createdAt": {
                          "type": "number",
                          "description": "Intent creation time in unix seconds",
                          "example": 1633493100
                        },
                        "latencyMs": {
                          "type": "number",
                          "nullable": true,
                          "description": "Time from creation to the latest leg landing, in ms. Null until any leg lands.",
                          "example": 8100
                        },
                        "settlementLayer": {
                          "type": "string",
                          "enum": [
                            "INTENT_EXECUTOR",
                            "SAME_CHAIN",
                            "ACROSS",
                            "ECO",
                            "RELAY",
                            "OFT",
                            "NEAR",
                            "RHINO",
                            "CCTP",
                            "LZ"
                          ],
                          "nullable": true,
                          "description": "Settlement layer; null if the routing strategy is unrecognized",
                          "example": "ACROSS"
                        },
                        "source": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "chainId": {
                                "oneOf": [
                                  {
                                    "type": "string",
                                    "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$"
                                  },
                                  {
                                    "type": "number"
                                  }
                                ],
                                "description": "CAIP-2 chain id; a number only for a chain no longer supported",
                                "example": "eip155:10"
                              },
                              "tokens": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "token": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "Token address, in the format its chain uses (EVM hex, non-EVM base58)",
                                      "example": "0x0b2c639c533813f4aa9d7837caf62653d097ff85"
                                    },
                                    "symbol": {
                                      "type": "string",
                                      "nullable": true,
                                      "description": "Token symbol. `null` when the internal token registry has no entry for this address.",
                                      "example": "USDC"
                                    },
                                    "decimals": {
                                      "type": "integer",
                                      "nullable": true,
                                      "description": "Token decimals. `null` when the internal token registry has no entry for this address.",
                                      "example": 6
                                    },
                                    "amount": {
                                      "type": "string",
                                      "description": "Token amount in base units",
                                      "example": "1000000"
                                    }
                                  },
                                  "required": [
                                    "token",
                                    "symbol",
                                    "decimals",
                                    "amount"
                                  ],
                                  "description": "A token moved on this leg"
                                },
                                "description": "All tokens moved on this leg"
                              },
                              "transaction": {
                                "discriminator": {
                                  "propertyName": "vm"
                                },
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "vm": {
                                        "type": "string",
                                        "enum": [
                                          "evm"
                                        ]
                                      },
                                      "chainId": {
                                        "type": "string",
                                        "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$",
                                        "description": "CAIP-2 chain id the transaction is on",
                                        "example": "eip155:8453"
                                      },
                                      "txHash": {
                                        "type": "string",
                                        "minLength": 1,
                                        "description": "Transaction hash",
                                        "example": "0xc1674f4671accbceec3f22c2c9cfa4f7aead7183f48df90c239e0d85d6c31e21"
                                      }
                                    },
                                    "required": [
                                      "vm",
                                      "chainId",
                                      "txHash"
                                    ],
                                    "description": "An EVM transaction"
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "vm": {
                                        "type": "string",
                                        "enum": [
                                          "svm"
                                        ]
                                      },
                                      "chainId": {
                                        "type": "string",
                                        "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$",
                                        "description": "CAIP-2 chain id the transaction is on",
                                        "example": "eip155:8453"
                                      },
                                      "signature": {
                                        "type": "string",
                                        "minLength": 1,
                                        "description": "Transaction signature, base58 (64 bytes encoded)"
                                      }
                                    },
                                    "required": [
                                      "vm",
                                      "chainId",
                                      "signature"
                                    ],
                                    "description": "A Solana transaction"
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "vm": {
                                        "type": "string",
                                        "enum": [
                                          "tvm"
                                        ]
                                      },
                                      "chainId": {
                                        "type": "string",
                                        "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$",
                                        "description": "CAIP-2 chain id the transaction is on",
                                        "example": "eip155:8453"
                                      },
                                      "txId": {
                                        "type": "string",
                                        "minLength": 1,
                                        "description": "Transaction id, hex without the 0x prefix"
                                      }
                                    },
                                    "required": [
                                      "vm",
                                      "chainId",
                                      "txId"
                                    ],
                                    "description": "A Tron transaction"
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "vm": {
                                        "type": "string",
                                        "enum": [
                                          "stellar"
                                        ]
                                      },
                                      "chainId": {
                                        "type": "string",
                                        "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$",
                                        "description": "CAIP-2 chain id the transaction is on",
                                        "example": "eip155:8453"
                                      },
                                      "txHash": {
                                        "type": "string",
                                        "minLength": 1,
                                        "description": "Transaction hash, hex"
                                      }
                                    },
                                    "required": [
                                      "vm",
                                      "chainId",
                                      "txHash"
                                    ],
                                    "description": "A Stellar transaction"
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "vm": {
                                        "type": "string",
                                        "enum": [
                                          "unknown"
                                        ]
                                      },
                                      "chainId": {
                                        "type": "number",
                                        "description": "Numeric chain id, as the record stored it",
                                        "example": 1337
                                      },
                                      "id": {
                                        "type": "string",
                                        "minLength": 1,
                                        "description": "The stored identifier, verbatim"
                                      }
                                    },
                                    "required": [
                                      "vm",
                                      "chainId",
                                      "id"
                                    ],
                                    "description": "A transaction on a chain no chain in force carries, so no VM can be derived for it. The identifier is served as stored rather than dropped or dressed up as an EVM hash."
                                  }
                                ],
                                "description": "The transaction that carried this leg, once it lands"
                              },
                              "timestamp": {
                                "type": "number",
                                "description": "Block timestamp in unix seconds (present once landed)",
                                "example": 1633493192
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "PENDING",
                                  "COMPLETED",
                                  "FAILED"
                                ],
                                "description": "Leg status",
                                "example": "COMPLETED"
                              }
                            },
                            "required": [
                              "chainId",
                              "tokens",
                              "status"
                            ],
                            "description": "A single source or destination leg"
                          },
                          "description": "Source (claim) legs"
                        },
                        "destination": {
                          "type": "object",
                          "properties": {
                            "chainId": {
                              "oneOf": [
                                {
                                  "type": "string",
                                  "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$"
                                },
                                {
                                  "type": "number"
                                }
                              ],
                              "description": "CAIP-2 chain id; a number only for a chain no longer supported",
                              "example": "eip155:10"
                            },
                            "tokens": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "token": {
                                    "type": "string",
                                    "minLength": 1,
                                    "description": "Token address, in the format its chain uses (EVM hex, non-EVM base58)",
                                    "example": "0x0b2c639c533813f4aa9d7837caf62653d097ff85"
                                  },
                                  "symbol": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Token symbol. `null` when the internal token registry has no entry for this address.",
                                    "example": "USDC"
                                  },
                                  "decimals": {
                                    "type": "integer",
                                    "nullable": true,
                                    "description": "Token decimals. `null` when the internal token registry has no entry for this address.",
                                    "example": 6
                                  },
                                  "amount": {
                                    "type": "string",
                                    "description": "Token amount in base units",
                                    "example": "1000000"
                                  }
                                },
                                "required": [
                                  "token",
                                  "symbol",
                                  "decimals",
                                  "amount"
                                ],
                                "description": "A token moved on this leg"
                              },
                              "description": "All tokens moved on this leg"
                            },
                            "transaction": {
                              "discriminator": {
                                "propertyName": "vm"
                              },
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "vm": {
                                      "type": "string",
                                      "enum": [
                                        "evm"
                                      ]
                                    },
                                    "chainId": {
                                      "type": "string",
                                      "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$",
                                      "description": "CAIP-2 chain id the transaction is on",
                                      "example": "eip155:8453"
                                    },
                                    "txHash": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "Transaction hash",
                                      "example": "0xc1674f4671accbceec3f22c2c9cfa4f7aead7183f48df90c239e0d85d6c31e21"
                                    }
                                  },
                                  "required": [
                                    "vm",
                                    "chainId",
                                    "txHash"
                                  ],
                                  "description": "An EVM transaction"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "vm": {
                                      "type": "string",
                                      "enum": [
                                        "svm"
                                      ]
                                    },
                                    "chainId": {
                                      "type": "string",
                                      "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$",
                                      "description": "CAIP-2 chain id the transaction is on",
                                      "example": "eip155:8453"
                                    },
                                    "signature": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "Transaction signature, base58 (64 bytes encoded)"
                                    }
                                  },
                                  "required": [
                                    "vm",
                                    "chainId",
                                    "signature"
                                  ],
                                  "description": "A Solana transaction"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "vm": {
                                      "type": "string",
                                      "enum": [
                                        "tvm"
                                      ]
                                    },
                                    "chainId": {
                                      "type": "string",
                                      "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$",
                                      "description": "CAIP-2 chain id the transaction is on",
                                      "example": "eip155:8453"
                                    },
                                    "txId": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "Transaction id, hex without the 0x prefix"
                                    }
                                  },
                                  "required": [
                                    "vm",
                                    "chainId",
                                    "txId"
                                  ],
                                  "description": "A Tron transaction"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "vm": {
                                      "type": "string",
                                      "enum": [
                                        "stellar"
                                      ]
                                    },
                                    "chainId": {
                                      "type": "string",
                                      "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$",
                                      "description": "CAIP-2 chain id the transaction is on",
                                      "example": "eip155:8453"
                                    },
                                    "txHash": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "Transaction hash, hex"
                                    }
                                  },
                                  "required": [
                                    "vm",
                                    "chainId",
                                    "txHash"
                                  ],
                                  "description": "A Stellar transaction"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "vm": {
                                      "type": "string",
                                      "enum": [
                                        "unknown"
                                      ]
                                    },
                                    "chainId": {
                                      "type": "number",
                                      "description": "Numeric chain id, as the record stored it",
                                      "example": 1337
                                    },
                                    "id": {
                                      "type": "string",
                                      "minLength": 1,
                                      "description": "The stored identifier, verbatim"
                                    }
                                  },
                                  "required": [
                                    "vm",
                                    "chainId",
                                    "id"
                                  ],
                                  "description": "A transaction on a chain no chain in force carries, so no VM can be derived for it. The identifier is served as stored rather than dropped or dressed up as an EVM hash."
                                }
                              ],
                              "description": "The transaction that carried this leg, once it lands"
                            },
                            "timestamp": {
                              "type": "number",
                              "description": "Block timestamp in unix seconds (present once landed)",
                              "example": 1633493192
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "PENDING",
                                "COMPLETED",
                                "FAILED"
                              ],
                              "description": "Leg status",
                              "example": "COMPLETED"
                            }
                          },
                          "required": [
                            "chainId",
                            "tokens",
                            "status"
                          ],
                          "description": "Destination (fill) leg; null before a fill is dispatched",
                          "nullable": true
                        },
                        "executions": {
                          "type": "object",
                          "properties": {
                            "source": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "vm": {
                                    "type": "string",
                                    "enum": [
                                      "evm"
                                    ]
                                  },
                                  "chainId": {
                                    "type": "string",
                                    "pattern": "^(eip155|solana|tron|hypercore|stellar):[-_a-zA-Z0-9]{1,32}$",
                                    "description": "CAIP-2 chain id the calls execute on",
                                    "example": "eip155:8453"
                                  },
                                  "executedBy": {
                                    "type": "object",
                                    "properties": {
                                      "kind": {
                                        "type": "string",
                                        "enum": [
                                          "account",
                                          "solver"
                                        ],
                                        "description": "Who runs the calls: the account itself, or a solver-operated contract running them on its behalf.",
                                        "example": "account"
                                      },
                                      "address": {
                                        "type": "string",
                                        "minLength": 1,
                                        "description": "Address of the executing contract or account",
                                        "example": "0x579d5631f76126991c00fb8fe5467fa9d49e5f6a"
                                      }
                                    },
                                    "required": [
                                      "kind",
                                      "address"
                                    ],
                                    "description": "Absent where the chain is no longer in force, so the executing contract cannot be named."
                                  },
                                  "calls": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "to": {
                                          "type": "string",
                                          "description": "Target contract address for execution",
                                          "example": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
                                        },
                                        "value": {
                                          "type": "string",
                                          "format": "uint256",
[...]
