[package]
name = "rhinestone-encoding-core"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["rlib"]

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
alloy-primitives = { version = "0.8", features = ["serde"] }
alloy-sol-types = "0.8"
