name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - name: Check out the repo
        uses: "actions/checkout@v4"

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install the npm dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Check
        run: bun run check

      - name: Typecheck
        run: bun run typecheck

  test:
    needs: ["build"]
    runs-on: "ubuntu-latest"
    steps:
      - name: Check out the repo
        uses: "actions/checkout@v4"

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Set up Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Install the npm dependencies
        run: bun install

      - name: Clean
        run: bun run clean

      - name: Run tests
        run: bun run test
        env:
          VITE_ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY}}
